body{
    background-image: url("../images/grey.png");
}
#name{
    color:white;
    font-size: 50px;
}
div.card.center{
    background-color: rgba(46, 49, 49, 0.7);
}
a{
    color:white;
}
.btn{
    margin-top: 7px;
    background-color: rgb(56, 53, 53, .85);
}
.self{
    margin-left: 40px;
}
@media screen and (max-width: 980px) {
    .project{
        max-height: 115px;
        margin: 15px 5px 15px 5px;
    }
}
@media screen and (max-width: 768px ) {
    .project{
        max-height: 115px;
        margin: 15px 5px 15px 5px;
    }
}

@media screen and (max-width: 640px ) {
    .project{
        max-height: 170px;
        margin: 15px 70px 15px 70px;
    }
    .btn{
        margin: 15px 85px 15px 85px;
    }
}
